<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <% include partials/_header %>
  <h2>Here are our tiny urls</h2>
  <table>
    <% for (const tinyURL in urls) { %>
    <tr>
      <td>
        <h4><%= tinyURL %></h4>
      </td>
      <td>
        <h4> ==> </h4>
      </td>
      <td>
      </a>
      <h4><a href="<%= urls[tinyURL] %>"><%= urls[tinyURL] %></a>
      </h4>
      <td>
        <a href="/urls/<%= tinyURL %>">Edit</a>
      </td>
    </td>
    <td>
      <form action="/urls/<%= tinyURL%>/delete" method="POST">
        <input type="hidden" name="DELETE" value="<%= tinyURL%>">
        <button type="submit" name="deleteURL" id="deleteURL">
          DELETE
        </button>
      </form>
    </td>
  </tr>
  <% } %>
</table>
<h3>Create your own <a href="/urls/new">TINY URLS</a></h3>
</body>
</html>