<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <% include partials/_header %>
  <h2>Here are our tiny urls</h2>
  <table>
    <% for (const tinyURL in urls) { %>
    <tr>
      <td>
        <h3><%= tinyURL %></h3>
      </td>
      <td>
        <h3> ==> </h3>
      </td>
      <td>
      </a>
      <h3><a href="<%= urls[tinyURL] %>"><%= urls[tinyURL].url %></a>
      </h3>
      <td>
        <a href="/urls/<%= tinyURL %>">Edit</a>
      </td>
    </td>
    <td>
      <form action="/urls/<%= tinyURL%>/delete" method="POST">
        <input type="hidden" name="DELETE" value="<%= tinyURL%>">
        <button type="submit" name="deleteURL" id="deleteURL">
          DELETE
        </button>
      </form>
    </td>
  </tr>
  <% } %>
</table>
</body>
</html>